<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings/>
  <connectionStrings>
    <add name="cadenaConeccion" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\bd_ecbues.mdf;Integrated Security=True;User Instance=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" />
    </authentication >
    <roleManager enabled="true"/>
    <compilation debug="true"/>
    <customErrors mode="On" defaultRedirect="~/error/error.aspx">
      <error statusCode="403" redirect="~/error/error_noacceso.aspx" />
      <error statusCode="404" redirect="~/error/error_noencont.aspx" />
    </customErrors>
  </system.web>
</configuration>
